<h1>Word: <%= @words.word %> </h1>

<h4>Definition: <%= @words.definition %> </h4>

<h4>Definitions: </h4>

<ul>
<% @words.definitions.each do |defintion| %>
  <li>
    <%= defintion %>
  </li>
<% end %>
</ul>
<br>

<div>
  <form method="post" action="/words/<%= @words.id %>">
    <label for="new-definition">Edit first definition</label>
    <input type="text" name="edit">
    <button type="submit" class="btn btn-info">Edit</button>
  </form>
  <br>
  <form method="post" action="/words/<%= @words.id %>/multi">
    <label for="new-definition">Add new definition</label>
    <input type="text" name="new">
    <button type="submit" class="btn btn-info">Add new defintion</button>
  </form>
</div>

<br>

<a href="/">Home</a>
